.section {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.div {
  display: flex;
  flex-direction: column;
  justify-items: center;
}
.input {
  /* display: flex;
  width: 300px;
  justify-content: center; */
}

h2 {
  margin-left: 50px;
}
