.contacts-list {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 50px;
  list-style: none;
  padding: 0;
}

.contact-item {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    135deg,
    #68dab0,
    #d0f87a
  ); /* Gradient background */
}

.contact-details {
  flex: 1;
}

.delete-button {
  background-color: #ff6347;
  color: white;
  width: 100px;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
